<nav class="navbar bg-light">
    <div class="container-fluid">
       <div class="col-7">
      <span class="navbar-brand mb-0">AngularLearning</span></div> 
      <div class="col-5 d-flex justify-content-evenly">
        <button (click)="navSchoolForm()"  class="btn btn-outline-dark" >SchoolForm</button>
        <button  (click)="navSerieCard()" class="btn btn-outline-dark ms-4">SerieCard</button>
        <button  (click)="navBusca()" class="btn btn-outline-dark ms-4">Busca</button>
    </div>
    </div>
  </nav>
