


body{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-flow: column;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/predios.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
/* ====================== Main ======================*/

#main{

    display: flex;
    justify-content: center;
    margin-top: 0;
    
}


#main>.funcoes{
    font-size: 20px;
    padding: 0 1% 0 1%;
    background-color: grey;
    border-width: 5%;
    border-color:white;
    border-style: solid;
    border-radius: 8%;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#main>.funcoes>*{
    margin-top: 8%;
}

/* =================== Cadastro ====================*/

#main>.funcoes>.botoes{
    display: flex;
}



/* =================== Consulta ====================*/



#main>#consulta>#con_part_2>div{
    width: 15vw;
}

/* =================== Deposito ====================*/

#main>.funcoes>.botoes>.envia{

    transition-duration: 0.4s;
    margin: auto;
    border-color: white;
    border-width: 5%;
    padding: 5%;
    border-style: solid;
    border-radius: 50%;
    font-size: 20px;

    background: none;
    font-weight: bold;
    color: white;
}

#main>.funcoes>.botoes>.envia:hover{
    background: white;
    color:grey;
    font-weight: bold;
}

/* =================== HEADER ====================*/
header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: grey;
}

header>#navegador{
    display: flex;
   
}
header>#navegador>button{
    transition-duration: 0.4s;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    background: none;
    font-weight: bold;
    color: white;
}

header>#navegador>button:hover{
    background: white;
    color:grey;
    font-weight: bold;
}

header>#titulo{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;


}
/* =================== FOOTER ====================*/
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    font-size: 30px;
}
footer>#email{
  
    color: white;
    font-weight: bold;
}  

footer>#fone>a{
    text-decoration: none;
    font-weight: lighter;
    color: white;
}   

footer>#fone{
  
    color: white;
    font-weight: bold;
}  

footer>#email>a{
    text-decoration: none;
    color: white;
}   




