

body{
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ====================== Main ======================*/

#main{
    
    background-image: url("imagens/predios.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 10%;
    margin-top: 0;
    
}

/* =================== Cadastro ====================*/

#main>#cadastro{
    padding: 1%;
    background-color: grey;
    border-width: 5%;
    border-color:white;
    border-style: solid;
    border-radius: 8%;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
}


#main>#cadastro>#cad_buttons{
    display: flex;
}

#main>#cadastro>#cad_buttons>button{
    transition-duration: 0.4s;
    margin: auto;
    border-color: white;
    border-width: 5%;
    padding: 5%;
    border-style: solid;
    border-radius: 50%;
    font-size: medium;
    
    background: none;
    font-weight: bold;
    color: white;
}

#main>#cadastro>#cad_buttons>button:hover{
    background: white;
    color:grey;
    font-weight: bold;
}

/* =================== Consulta ====================*/

#main>#consulta>.con_parts{
    padding: 8%;
    background-color: grey;
    border-width: 5%;
    border-color:white;
    border-style: solid;
    border-radius: 8%;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#main>#consulta>.con_parts>.con_enviar{
    transition-duration: 0.4s;
    margin: auto;
    border-color: white;
    border-width: 5%;
    padding: 5%;
    border-style: solid;
    border-radius: 50%;
    font-size: medium;

    background: none;
    font-weight: bold;
    color: white;
}

#main>#consulta>.con_parts>.con_enviar:hover{
    background: white;
    color:grey;
    font-weight: bold;
}

#main>#consulta>#con_part_2>div{
    width: 15vw;
}

/* =================== Deposito ====================*/

#main>#deposito{
    padding: 1%;
    background-color: grey;
    border-width: 5%;
    border-color:white;
    border-style: solid;
    border-radius: 8%;
}
#main>#deposito{
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#main>#deposito>#dep_enviar{
    transition-duration: 0.4s;
    margin: auto;
    border-color: white;
    border-width: 5%;
    padding: 5%;
    border-style: solid;
    border-radius: 50%;
    font-size: medium;

    background: none;
    font-weight: bold;
    color: white;
}

#main>#deposito>#dep_enviar:hover{
    background: white;
    color:grey;
    font-weight: bold;
}
/* =================== SAQUE ====================*/

#main>#saque{
    padding: 1%;
    background-color: grey;
    border-width: 5%;
    border-color:white;
    border-style: solid;
    border-radius: 8%;
}
#main>#saque{
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#main>#saque>#saq_enviar{
    transition-duration: 0.4s;
    margin: auto;
    border-color: white;
    border-width: 5%;
    padding: 5%;
    border-style: solid;
    border-radius: 50%;
    font-size: medium;

    background: none;
    font-weight: bold;
    color: white;
}

#main>#saque>#saq_enviar:hover{
    background: white;
    color:grey;
    font-weight: bold;}


/* =================== HEADER ====================*/
header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: grey;
}

header>#navegador{
    display: flex;
   
}
header>#navegador>button{
    transition-duration: 0.4s;
    font-size: medium;
    border: none;
    background: none;
    font-weight: bold;
    color: white;
}

header>#navegador>button:hover{
    background: white;
    color:grey;
    font-weight: bold;
}

header>#titulo{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: whitesmoke;


}
/* =================== FOOTER ====================*/
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}
footer>#email{
  
    color: white;
    font-weight: bold;
}  

footer>#fone>a{
    text-decoration: none;
    font-weight: lighter;
    color: white;
}   

footer>#fone{
  
    color: white;
    font-weight: bold;
}  

footer>#email>a{
    text-decoration: none;
    color: white;
}   




